<app-navbar></app-navbar>
<div class="container-sm d-flex justify-content-center">
  <form class="form w-50 mt-4" [formGroup]="form">
    @if (showAlert) {
      <div [ngClass]="alertClass" class="alert fade show" role="alert">
        {{ alertMessage }}
      </div>
    }
    <div class="container d-flex flex-column">
      <div class="container d-flex justify-content-end">
        <button routerLink="/paciente" type="button" class="btn btn-outline-primary">Voltar</button>
      </div>
      <h5 class="container mb-3">Informações cadastrais</h5>
      <div class="container d-flex">
        @if (id) {
          <div class="mb-3 me-3">
            <label for="nome" class="form-label">Id</label>
            <input type="text" class="form-control" id="nome" value="{{ id }}" disabled>
          </div>
        }
        <div class="mb-3 w-100">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
        </div>
      </div>
      <div class="container d-flex">
        <div class="mb-3 me-3">
          <label for="dataNascimento" class="form-label">Data de nascimento</label>
          <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento">
        </div>
        <div class="mb-3 me-3">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="telefone" formControlName="telefone">
        </div>
        <div class="mb-3">
          <label for="planoSaude" class="form-label">Plano de saúde</label>
          <select class="form-select form-control" id="planoSaude" formControlName="planoSaudeId">
            @for (planoSaude of planosSaude; track planoSaude.id) {
              <option value="{{ planoSaude.id }}">{{ planoSaude.nome }}</option>
            }
          </select>
        </div>
      </div>
      <div class="container d-flex flex-row">
        <div class="mb-3 w-100">
          <label for="endereco" class="form-label">Endereço</label>
          <input type="text" class="form-control" id="endereco" formControlName="endereco">
        </div>
      </div>
      <h5 class="container mt-4 mb-3">Alergias</h5>
      <div class="container">
        <div class="d-flex align-items-end">
          <div class="d-flex flex-column w-100">
            <label for="medicamentoId" class="form-label">Medicamento</label>
            <select class="form-select form-control" id="medicamentoId" formControlName="medicamentoId">
              @for (medicamento of medicamentos; track medicamento.id) {
                <option value="{{ medicamento.id }}">{{ medicamento.nome }}</option>
              }
            </select>
          </div>
          <div class="ms-3">
            <button [disabled]="!editMode && !(router.url == '/paciente/cadastro')" type="button" class="btn btn-primary" (click)="adicionarAlergia()">Adicionar</button>
          </div>
        </div>
        <ul class="list-group mt-3">
          @for (medicamento of alergias; track medicamento.id) {
            <li class="list-group-item bg-body-tertiary d-flex aligh-items-center justify-content-between">
              <div>{{ medicamento.nome }}</div>
              <button [disabled]="!editMode" type="button" class="btn btn-danger ms-3 btn-circle" (click)="removerAlergia(medicamento.id ?? 0)"><i class="bi bi-trash"></i></button>
            </li>
          }
        </ul>
      </div>
      <div class="container d-flex justify-content-end mt-3">
        @if (id && editMode) {
          <button type="submit" class="btn btn-primary ms-3" (click)="salvar()">Salvar</button>
        } @else if (id) {
          <button type="button" class="btn btn-primary ms-3" (click)="editar()">Editar</button>
        } @else {
          <button type="submit" class="btn btn-primary ms-3" (click)="salvar()">Salvar</button>
        }

        @if (id) {
          <button type="button" class="btn btn-danger ms-3" (click)="deletar(id)">Deletar</button>
        }
      </div>
    </div>
  </form>
</div>
