<app-navbar></app-navbar>
<div class="container-sm d-flex flex-column justify-content-center">
  <div class="d-flex justify-content-end my-3">
    <button class="btn btn-primary" routerLink="/medicamento/novo">Novo</button>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" class="w-50">Id</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      @for (medicamento of medicamentos; track medicamento.id) {
        <tr routerLink="/medicamento/{{ medicamento.id }}">
          <th scope="row">{{ medicamento.id }}</th>
          <td>{{ medicamento.nome }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
