<main class="w-100 m-auto align-items-center justify-content-center login-main">
  <img src="/assets/login-logo.svg">
  <div class="login-card">
    <p>A sua saúde em boas mãos.</p>
    <form action="">
      <div class="form-floating">
        <input type="email" class="form-control" id="loginemail" placeholder="seu-email@exemplo.com">
        <label for="loginemail">E-mail</label>
      </div>
      <div class="form-floating my-3">
        <input type="password" class="form-control" id="loginsenha" placeholder="Senha">
        <label for="loginsenha">Senha</label>
      </div>
      <button routerLink="/medicamento"  class="btn btn-primary w-100 py-2" type="button">Entrar</button>
    </form>
  </div>
</main>
